.modal.fade .modal-dialog {
  transform: translate(0,0) scale(0.95);
  transition: transform .2s ease-out;
}
.modal.show .modal-dialog {
  transform: translate(0,0) scale(1);
}

.modal {
  &-header {
    border-bottom: none;
  }
  &-title {
    text-transform: uppercase;
    padding: 0 10px;
    color: #FFFFFF;
    font-size: 28px;
    font-style: italic;
  }
  &__close {
    font-size: 40px;
    font-weight: 200;
    cursor: pointer;
    color: #FFF;
    transition: 0.2s;
    &:hover {
      opacity: 1;
      color: #FFFFFF;
    }
  }
  &-content {
    background-color: #131729;
    border: none;
    border-radius: 0;
    box-shadow: 8px 8px 29px -5px rgba(0, 0, 0, 0.75);
  }
  &-body {
    padding: 30px 20px 20px 20px;
  }
}